.appart_form{
      display: grid;
      grid-row-gap: 2rem;
      justify-content: center;
      select, input, textarea{
            padding: .5rem 1rem;
            border-radius: 3px;
            border: none;
      }
      form{
            display: grid;
            grid-row-gap: 1rem;
            & > div{
                  grid-gap: 1rem;
            }
      }
}
.head_form{
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
}

.owner{
      display: grid;
      grid-template-columns: 1fr auto;
      .add_owner{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            border-radius: 3px;
            padding: .5rem 2rem;
            background-color: $color-blue-shine;
            color: white;
      }
}

.address{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      textarea{
            grid-column: span 2;
      }
}

.infos{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
}

.details{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
}

.gallery{
      label{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            border-radius: 3px;
            padding: .5rem 2rem;
            background-color: $color-blue-shine;
            color: white;
            cursor: pointer;
      }
}
#gallery{
      display: none;
}