
//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//FONT IMPORT
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,700|Roboto+Condensed:300,400,700');

//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//FONT VARIABLES
$font-cuprum: 'Cuprum', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;

//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//COLORS VARIABLES
$color-black: #363636;
$color-blue: #4169E1;
$color-blue-shine: #00B6FF;
$color-crimson: #FF1945;
$color-mustard: #CCC314;
$color-mustard-dark: #B2AA09;
$color-grey-bg: #EEEEEE;
$color-green: #8CC63F;


//:::::::::::::::::::::::::::::::::::::::::::::::::::::
//MEDIA QUERIES
$bp-large : 38em; //610px
$bp-medium : 29em; //470px
$bp-small : 24em; //386px










